p, table, td, th {  font-family: arial, helvetica, geneva; font-size: 10pt}

pre {  font-family: "Courier New", Courier, mono; font-size: 10pt}

h2 { font-family: arial, helvetica, geneva; 
     font-size: 12pt; 
     font-weight: bold ; 
     line-height: 14px;
     color: #FFFFFF;
     background-color: #0080C0;
     padding: 5px;
}

h3 { font-family: arial, helvetica, geneva; 
     font-size: 10pt; 
     font-weight: bold ; 
     line-height: 10px;
     color: #FFFFFF;
     background-color: #999999;
     padding: 5px;
}

ul {
   list-style: none;
   padding-left: 0;
}

li {  
   font-family: arial, helvetica, geneva; 
   font-size: 10pt;
   background: url(images/Adarrow.gif) no-repeat 0 50%;
   line-height: 1.2em;
   padding-left: 22px;
   padding-top: 6px;
   padding-bottom: 6px;
}

dt {
  background: url(images/Adarrow.gif) no-repeat 0 50%;
  font-family: arial, helvetica, geneva; 
  font-size: 10pt;
  font-weight: bold;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}

dd {
  line-height: 1.2em;
}

thead {
    background-color: #999999;
    color: #FFFFFF;
    font-weight: bold;
}

#aspectj-is td {
  line-height: 1.2em;
}

#aspectj-is li {
  font-family: arial, helvetica, geneva; 
   font-size: 10pt;
   background: none;
   padding: 0px;
}

#aspectj-is ul {
  list-style-type: square;
  padding-top: 0px;
  padding-left: 20px;
  margin: 0px;
}

code {  font-family: "Courier New", Courier, mono; font-size: 10pt}

sup {  font-family: arial,helvetica,geneva; font-size: 10px}

h1 {  font-size: x-large;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 5px;}

body {  font-family: arial, helvetica, geneva; font-size: 10pt; clip:   rect(   ); margin-top: 5mm; margin-left: 3mm}

.indextop { font-size: x-large;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold}

.indexsub { font-size: xx-small;; font-family: Arial, Helvetica, sans-serif; color: #8080FF}

a.bar:link {  text-decoration: none; color: #FFFFFF}

a.bar:visited {  color: #FFFFFF; text-decoration: none}

a.bar:hover {  color: #FFFFFF; text-decoration: underline}

a.bar {  color: #FFFFFF}

.jump { font-size: smaller;; font-family: Arial, Helvetica, sans-serif; color: #8080FF ; font-style: normal; text-decoration: none}

.jump:link { font-size: smaller;; font-family: Arial, Helvetica, sans-serif; color: #8080FF; text-decoration: none}

.jump:hover { font-size: smaller;; font-family: Arial, Helvetica, sans-serif; color: #0000FF; text-decoration: underline; font-style: normal}


#container {
	line-height: 100%;
	margin-right: auto;
	margin-top: 0px;
	margin-left: auto;
	text-align: left;
	padding: 0px;
	width: auto;
	
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
        overflow: show;
	}

#center {
	float: left;
	width: 80%;
    height: auto;
	overflow: show;
	}
	
#footer {
  padding-top: 10px;
  clear: both;
  }

#main {
	float: left;
	width: 100%;
    height: auto;
	overflow: show;
	}
	
#main h1 {
   margin-top: 10px;
   }

#main h2 { font-family: arial, helvetica, geneva; 
     font-size: 10pt; 
     font-weight: bold ; 
     line-height: 12px;
     color: #FFFFFF;
     background-color: #0080C0;
     padding: 5px;
}

#main p {
    line-height: 1.2em;
}
#right {
    line-height: 1.2em;
	float: right;		
	width: 19%;
	margin-top: 5px;
	border: 1px solid #0080C0;
    border-right: 1px solid #0080C0;
	border-left:  1px solid #0080C0;
	background-color: #DDDDDD;	
	padding-bottom: 20px;
	overflow: hidden;
	}

#right li {
  font-family: arial, helvetica, geneva; 
   font-size: 10pt;
   line-height: 1.2em;
   background: none;
   padding-left: 2px;
   padding-top: 2px;
   padding-bottom: 0px;
}

#right ul {
  list-style-type: square;
  padding-top: 0px;
  padding-left: 20px;
  margin: 0px;
}

#right h2 { font-family: arial, helvetica, geneva; 
     font-size: 12pt; 
     font-weight: bold ; 
     line-height: 14px;
     color: #FFFFFF;
     background-color: #0080C0;
     padding: 5px;
     padding-bottom: 2px;
     margin: 5px;
}

#right h3 {
    background-color: orange;
}

#right h3 a {
    color: #FFFFFF;
}

#docs-main {
	float: left;
	width: 80%;
    height: auto;
	overflow: show;
	}

#docs-main h2 { font-family: arial, helvetica, geneva; 
     font-size: 10pt; 
     font-weight: bold ; 
     line-height: 12px;
     color: #FFFFFF;
     background-color: #0080C0;
     padding: 5px;
}

#docs-inset {
    line-height: 1.2em;
	float: right;		
	width: 18%;
	border-top: 1px solid #0080C0;
    border-right: 1px solid #0080C0;
    border-bottom: 1px solid #0080C0;
	border-left:  1px solid #0080C0;
	background-color: #FFFFFF;	
	overflow: hidden;
	margin-left: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
	}
	
#graphical-banner {   
    padding: 0px;
	height: 50px;
	margin: 0px;
}

#banner {
	font-family: Verdana, Arial, sans-serif;
	padding: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
	border-bottom: 1px solid #FFFFFF;
	height: 1.5em;
	margin: 0px;
	}

#banner-links {
    margin: 0;
    padding: 5px 0px 10px 10px;
    border-bottom: 1px solid #696;
    background-color: #006699;
}

#banner-links ul {
    padding: 0;
    margin: 0;
}

#banner-links li {
    display: inline;
    list-style: none;
    background: url(images/Adarrow.gif) no-repeat 0 50%;
    padding-left: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    margin: 0;
    line-height: 10px;
}

#banner-links a {
    font-weight: bold;
    color : #FFFFFF;
    padding-bottom: 0;
    text-decoration: none;
}

#banner-links a.active, #banner-links a:hover {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 2px;
}

	